.add-to-btn {
  color: white;
  background: #5088b9;
  border-radius: 10px;
  padding: 5px 10px 5px 15px;
  font-size: medium;
}

.checkbox-lbl {
  font-size: 14px;
  font-weight: bold;
}

input[type='checkbox'] {
  border: 1px #48759b solid;
}
